<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tbopen</string>
		<string>tmall</string>
		<string>wireless1688</string>
		<string>alipays</string>
		<string>taobaoliveshare</string>
		<string>youku</string>
		<string>eleme</string>
		<string>fleamarket</string>
		<string>dingtalk</string>
		<string>taobaotravel</string>
		<string>dydeeplink</string>
		<string>changba</string>
		<string>mogujie</string>
		<string>snssdk143</string>
		<string>snssdk1128</string>
		<string>snssdk2329</string>
		<string>snssdk8663</string>
		<string>snssdk32</string>
		<string>dragon1967</string>
		<string>openapp.jdmobile</string>
		<string>openjd</string>
		<string>vipshop</string>
		<string>imeituan</string>
		<string>dianping</string>
		<string>meituanwaimai</string>
		<string>ksnebula</string>
		<string>baiduboxapp</string>
		<string>baiduboxlite</string>
		<string>iqiyi</string>
		<string>yanxuan</string>
		<string>orpheus</string>
		<string>onetravel</string>
		<string>kfhxzdriver</string>
		<string>wbmain</string>
		<string>wbganji</string>
		<string>sinaweibo</string>
		<string>autohome</string>
		<string>ctrip</string>
		<string>bilibili</string>
		<string>iting</string>
		<string>soul</string>
		<string>zhihu</string>
		<string>xhsdiscover</string>
		<string>dewuapp</string>
		<string>smzdm</string>
		<string>taoumaimai</string>
		<string>sohunews</string>
		<string>sohuvideo</string>
		<string>pinduoduo</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>该标识符将用于向您投放个性化广告</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
